{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
  
    {% include 'base/header.html' %}

    <style type="text/css">
    .main{
      min-height:100vh;
      height:100%;
    }   
    </style>
    <div class="main">
       {% block content %}{% endblock content %} </br>
    </div> 

    {% include 'base/footer.html' %}

    <!-- js files-->
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bundle.min.js' %}"></script>
    <script src="{% static 'base.js' %}"></script>
  </body>
</html>
